* {
    font-family: "MS Sans Serif";
}


body {
    background-image: url(./images/old_school.jpeg);
}

.container {
    display: grid;
    background: dodgerblue;
    border: 2px solid lightgray;
    border-style: outset;
    position: absolute;
    left: 30%;
    top: 50%;
    height: 65px;
    width: 300px;
    margin-top: -300px;
    margin-left: -200px;
}

.bar {
    display: flex;
    padding-top: 5px;
    gap: 145px;
    height: 25px;
    width: auto;
    background-image: linear-gradient(to right,rgb(22, 22, 141),rgb(52, 121, 164));
}

.bar-text {
    padding-top: 2px;
    padding-left: 5px;
    color: aliceblue;
}

.winCl-wrap {
    border: 1px solid #000;
    display: inline;
    background: #c6c6c6;
  }
  
  .winCl-btn {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    background-color: transparent;
  }
  
  .winCl-btn:hover,
  .winCl-btn:focus {
    outline: 0;
  }
  
  .winCl-btn:active {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #848484;
    border-top: 1px solid #848484;
  }

.body {
    display: flex;
    background-color: lightgrey;
    width: auto;
    height: 35px;
}

.greeting {
    position: relative;
    left: 7px;
    bottom: 6px;
}